<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=1, user-scalable=no">
    <title>Team Heist Tactics</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css/normalize.css" />
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <!-- margin, height, and overflow below make the page not scroll -->
    <style type="text/css">
      body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        background-image: url("static/images/background_ui.jpg");
        background-repeat: repeat;
      }
      .hidden {
        display: none;
      }
      @keyframes pulsate {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1.0;
        }
        100% {
            opacity: 0;
        }
      }
    </style>
  </head>
  <body>
    <div id="app">
    </div>
    <!-- Script will be dynamically injected during build. -->
  </body>
</html>
