<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171624559-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-171624559-1');
    </script>
    <title>Team Heist Tactics</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=1, user-scalable=no">
    <title>Team Heist Tactics</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/main.css" />
  </head>
  <body>
    <div id="app">
    </div>
    <!-- Script will be dynamically injected during build. -->
  </body>
</html>
