/* margin, height, and overflow below make the page not scroll */
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: url("images/background_ui.jpg");
  background-repeat: repeat;
}

.hidden {
  display: none;
}

@keyframes pulsate {
  0% {
	opacity: 0;
  }
  50% {
	opacity: 1.0;
  }
  100% {
	opacity: 0;
  }
}
