@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
/* margin, height, and overflow below make the page not scroll */
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-image: url("images/background_ui.jpg");
  background-repeat: repeat;
}

.thtTitle {
  font-size: 70px;
  font-family: Damion, cursive;
  color: #f357f6;
  text-shadow: 3px 3px 5px #4dd7fa;
  text-align: center;
}

label, input {
  display: inline-block;
}

label {
  margin-bottom: 7px;
}

form {
  text-align: center;
}

.hidden {
  display: none;
}

@keyframes pulsate {
  0% {
	opacity: 0;
  }
  50% {
	opacity: 1.0;
  }
  100% {
	opacity: 0;
  }
}
