<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-171624559-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-171624559-1');
</script>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
</head>
<body>
<h1>Team Heist Tactics</h1>
<h2>Create game</h2>
<p>You may specify your own game handle if you want, but you don't have to.</p>
<form action="/create_game" method="post">
  <input autofocus type="text" id="game_handle" name="game_handle" placeholder="Game handle"><br>
  <button type="submit">Create Game</button>
</form>
</body>
</html>
