<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Team Heist Tactics</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css/normalize.css" />
    <style type="text/css">
      body {
        background-color: #a228d5;
        color: #E8FF1E;
      }
    </style>
  <base href="/"></head>
  <body>
    <div id="app">
    </div>
    <!-- Script will be dynamically injected during build. -->
  <script src="static/app.7b32356c649d09ad8376.js"></script></body>
</html>
