<html>
<head>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
</head>
<body>
<h1>Team Heist Tactics</h1>
<h2>It's {{ adjective }}</h2>
<p>Join game<p>
<form action="/join_game" method="post">
  <input type="text" id="name" name="name", placeholder="Name"><br>
  <input type="text" id="handle" name="handle", placeholder="Game handle"><br>
  <input type="submit" value="Create Game">
</form>
<script>
    var url = new URL(window.location.href);
    var handle = url.searchParams.get("handle");
    console.log("Handle is:", handle);
    if (handle !== null) {
        document.getElementById("handle").value = handle;
    }
</script>
</body>
</html>
